body{
    background-color: rgb(224, 212, 196);
    color: rgb(226, 168, 93);
}

.navbar{
    background-color: rgb(221, 186, 139);
    height: 250px;
    display: flex;
    align-items: center;
   justify-content: center;
   gap:10px;
   padding: 20px;
  
}


#Logo{
    height: 200;
    width: 200;
    border-radius: 50%;
    border: 40% solid rgb(126, 93, 33);

}
.Logo{
    color: antiquewhite;
}

.btn bnt-cliente bnt-lg{
    background-color: rgb(179, 113, 28);
    color: rgb(238, 204, 160);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.flex{
    display: flex;
    align-items:center;
    justify-content: center;
   
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 290px;
}